
		
<%- include('./partials/Header.ejs'); %>
<%- include('./partials/Sidebar.ejs'); %>
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<!-- Add Order -->
		
				<div class="d-flex flex-wrap mb-2 align-items-center justify-content-between">
					<div class="mb-3">
						<h6 class="fs-16 text-black font-w600 mb-0"><%= all_properties.length %> Total Properties</h6>
					</div>
					<!-- <div class="event-tabs mb-3">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#All" role="tab" aria-selected="true">
									All
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#Sold" role="tab" aria-selected="false">
									Sold
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#Refunded" role="tab" aria-selected="false">
									Refunded
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#Canceled" role="tab" aria-selected="false">
									Canceled
								</a>
							</li>
						</ul>
					</div> -->
					<!-- <div class="mb-3 d-flex">
						<select class="form-control style-2 default-select mr-3">
							<option>Newest</option>
							<option>Monthly</option>
							<option>Weekly</option>
						</select>
						<a href="javascript:void(0)" class="btn btn-primary text-nowrap"><i class="fa fa-file-text scale5 mr-3" aria-hidden="true"></i>Generate Report</a>
					</div> -->
				</div>
				

				<% if (message.length > 0) { %>
					<!-- <%= message %> -->
					 <!-- <%= message %> -->
					 <div class="alert alert-danger alert-dismissible fade show" role="alert">
					  <strong class="text-center">
						  <%= message %></strong> 
						  
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
				<% } %> 
				<% if (successMessage.length > 0) { %>
					<!-- <%= message %> -->
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong class="text-center">
							<%= successMessage %></strong> 
							
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
				<% } %>
				<div class="row">
					<div class="col-xl-12">	
						<div class="tab-content">
							<div id="All" class="tab-pane active">
								<div class="table-responsive fs-14">
									<table class="table mb-4 dataTablesCard no-hover card-table fs-14" id="example5">
										<thead>
											<tr>
												<th>
													<div class="checkbox mr-0 align-self-center">
														<div class="custom-control custom-checkbox ">
															<input type="checkbox" class="custom-control-input" id="checkAll" required="">
															<label class="custom-control-label" for="checkAll"></label>
														</div>
													</div>
												</th>
												<th style="width:250px;">Property</th>
												<th class=" d-lg-inline-block">Title</th>
												<th class="d-none" >About </th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<%all_properties.forEach((post) => {%>
											<tr>
												<td>
													<div class="checkbox mr-0 align-self-center">
														<div class="custom-control custom-checkbox ">
															<input type="checkbox" class="custom-control-input" id="customCheckBox2" required="">
															<label class="custom-control-label" for="customCheckBox2"></label>
														</div>
													</div>	
												</td>
												<td>
													<div class="media align-items-center">
														<img class="img-fluid  mr-3  d-xl-inline-block" width="70" src="<%= post.image_one %>" alt="Kelkeyglobal">
														
													</div>
												</td>
												<td class=" d-lg-table-cell"> <h4 class="font-w600 mb-1 wspace-no"><a href="/dashboard/properties/<%= post.slug %>"><%= post.title %></a> </h4></td>
												<td >
													<!-- <span class="star-review d-inline-block mb-2 fs-16 wspace-no">
														<i class="fa fa-star fs-16 text-orange"></i>
														<i class="fa fa-star fs-16 text-orange"></i>
														<i class="fa fa-star fs-16 text-orange"></i>
														<i class="fa fa-star fs-16 text-orange"></i>
														<i class="fa fa-star fs-16 text-gray"></i>
													</span> -->
													<p class="mb-0  d-xl-inline-block"><%= post.content.slice(0,100) %>...</p>
												</td>
												<td>
													<div class="d-flex">
														<% if (post.status == "draft") { %>
														<a href="/dashboard/properties/<%= post._id %>/publish" class="btn btn-info btn-sm light px-4">Publish</a>
														<% } %>
														<% if (post.status == "published") { %>
															<a  href="/dashboard/properties/<%= post._id %>/unpublish" class="btn btn-info btn-sm light px-4">Un-Publish</a>
															<% } %>
														<a href="javascript:;" class="btn btn-warning  btn-sm light ml-2 px-4">Edit</a>
														<a  href="/dashboard/properties/<%= post._id %>/delete" class="btn btn-danger  btn-sm light ml-2 px-4">Delete</a>
														
													</div>
												</td>
											</tr>
											<% })%>
										</tbody>
									</table>
								</div>
							</div>
					
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->

        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/dashboard/vendor/global/global.min.js"></script>
	<script src="/dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/dashboard/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/dashboard/js/custom.min.js"></script>
	<script src="/dashboard/js/deznav-init.js"></script>
	<script src="/dashboard/vendor/owl-carousel/owl.carousel.js"></script>
	<!-- Datatable -->
	<script src="/dashboard/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script>
		(function($) {
			var table = $('#example5').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example3').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example2').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example4').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			$('#example tbody').on('click', 'tr', function () {
				var data = table.row( this ).data();
				
			});
		})(jQuery);
	</script>
</body>
</html>