<%- include('./partials/LoginHeader.ejs'); %>
<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
					
					<div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="/"><img src="/logos/image0.png" width="100px" height="100px" alt="image"></a>
									</div>
                                    <h4 class="text-center mb-4 text-white">Sign up your account</h4>

                                    <% if (signupMessage.length > 0) { %>
                                        <!-- <%= signupMessage %> -->
                                         <!-- <%= signupMessage %> -->
                                         <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                          <strong class="text-center">
                                              <%= signupMessage %></strong> 
                                              
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                    <% } %> 
                                    <% if (successMessage.length > 0) { %>
                                        <!-- <%= message %> -->
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong class="text-center">
                                                <%= successMessage %></strong> 
                                                
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    <% } %>
                                
                                    <form  method="POST"  action="/register" enctype="application/json">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>First Name</strong></label>
                                            <input type="text" required name = "first_name" class="form-control" placeholder="First name">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Last Name</strong></label>
                                            <input type="text " required name = "last_name" class="form-control" placeholder="Last name">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Email</strong></label>
                                            <input type="email" required name = "email" class="form-control" placeholder="hello@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Password</strong></label>
                                            <input type="password" required name = "password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Confirm Password</strong></label>
                                            <input type="password" required name = "confirm_password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn bg-white text-primary btn-block">Sign me up</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white">Already have an account? <a class="text-white" href="/login">Sign in</a></p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/LoginFooter.ejs'); %>