<%- include('./partials/Header.ejs'); %>
<link rel="stylesheet" href="/assets/css/aboutus.css">
<%- include('./partials/Nav.ejs'); %>


      <!--Page Header Start-->
      <section class="page-header" style="background-image: url(https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
          <div class="container">
              <div class="page-header-inner">
                  <h2>Contact</h2>
                  <ul class="thm-breadcrumb list-unstyled">
                      <li><a href="/">Home</a></li>
                      <li><span>/</span></li>
                      <li>Contact</li>
                  </ul>
              </div>
          </div>
      </section>
      <!--Page Header End-->


      <!--Contact Start-->
      <section class="contact">
          <div class="container">
              <div class="row">
                  <div class="col-xl-4 col-lg-4">
                      <div class="block-title text-left">
                          <h4>Contact Us</h4>
                          <h2>Love to Hear From You</h2>
                      </div>
                      <div class="contact_text">
                          <p>If you have any enquiries or complaints feel free to reach out to us.</p>
                      </div>
                      <div class="contact__social">
                        <a href="https://twitter.com/preciouskelkey"><i class="fab fa-twitter"></i></a>
                        <a href="https://web.facebook.com/kelkey.precious.3?_rdc=1&_rdr"><i class="fab fa-facebook-square"></i></a>
                        <!-- <a href="#"><i class="fab fa-dribbble"></i></a> -->
                        <a href="https://www.instagram.com/kelkeyglobal_homes/"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
                  <div class="col-xl-8 col-lg-8">

                    <% if (message.length > 0) { %>
                        <!-- <%= message %> -->
                         <!-- <%= message %> -->
                         <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong class="text-center">
                              <%= message %></strong> 
                              
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    <% } %> 
                    <% if (successMessage.length > 0) { %>
                        <!-- <%= message %> -->
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong class="text-center">
                                <%= successMessage %></strong> 
                                
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    <% } %>
                      <form action="/contact" class="contact__form" method="POST">
                          <div class="row contact-form" >
                              <div class="col-xl-6">
                                  <div class="comment_input_box">
                                      <input type="text" placeholder="Your name" name="name">
                                  </div>
                              </div>
                              <div class="col-xl-6">
                                  <div class="comment_input_box">
                                      <input type="email" placeholder="Email address" name="email">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xl-6">
                                  <div class="comment_input_box">
                                      <input type="text" placeholder="Phone number" name="phone">
                                  </div>
                              </div>
                              <div class="col-xl-6">
                                  <div class="comment_input_box">
                                      <input type="text" placeholder="Subject" name="subject">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xl-12">
                                  <div class="comment_input_box">
                                      <textarea name="message" placeholder="Write message"></textarea>
                                  </div>
                                  <button type="submit" class="thm-btn comment-form__btn">Submit </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      <!--Contact End-->

      <!--Google Map-->
      <section class="google_map" style="padding: 0px;">
          <iframe
          src="https://maps.google.com/maps?q=Lagos&t=&z=15&ie=UTF8&iwloc=&output=embed" class="google-map__contact" allowfullscreen></iframe>

      </section>


  <%- include('./partials/Footer.ejs'); %>
