<%- include('./partials/Header.ejs'); %>
<link rel="stylesheet" href="/assets/css/aboutus.css" />
<link rel="stylesheet" href="/assets/css/properties.css" />


<body>
  <div class="preloader">
    <img
      src="/logos/image3.png"
      height="100px"
      width="100px"
      class="preloader__image"
      alt=""
    />
  </div>
  <!-- /.preloader -->
  <%- include('./partials/Nav.ejs');%>

  <!-- Banner Section One Start -->
  <section class="banner-one">
    <div id="overlay"></div>
    <div
      class="banner-bg-slide"
      data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/properties/slider1.jpg" }, { "src": "assets/images/properties/slider2.jpg" } ], "transition": "fade", "timer": false, "align": "top", "animation": [ "kenburnsUp", "kenburnsDown", "kenburnsLeft", "kenburnsRight" ] }'
    ></div>
    <!-- /.banner-bg-slide -->
    <div class="container">
      <div class="content-box">
        <div class="top-title">
          <div class="header-image">
            <img src="/logos/image3.png" width="250px" height="300px" style="background-size: contain;" alt="">
          </div>
          <!-- <h1>Kelkey Global Limited</h1> -->
          <br />
          <br />
          <h3>making living comfortable and affordable...</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section One End -->

  <section class="bg-black py-8 pt-0" id="store">
    <div class="bg-image bg-holder"></div>
    <!--/.bg-holder-->

    <div class="container-lg">
      <div class="row flex-center">
        <div class="col-6 order-md-0 text-center text-md-start"></div>
        <div class="col-sm-10 col-md-7 col-lg-6 text-center text-md-start">
          <div
            class="carousel slide carousel-fade"
            id="carouselExampleFade"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row h-100">
                  <div class="col-12">
                    <h5
                      class="fs-6 fs-lg-7 lh-sm text-uppercase mt-7 long-image"
                    >
                      About Us
                    </h5>
                    <p class="my-45 larger-font wow fadeInRight animated">
                      Memphis clinched a spot in the play-in tournament with the
                      victory, but the fight for seeding continues. The race for
                      the No. 8 spot in the West -- and the safety net of having
                      to win just one of two games to make the playoffs -- could
                      come down to the regular seasons final day, when Memphis
                      and Golden State meet.
                    </p>
                    <a
                      href=""
                      class="btn btn-outline-primary btn-lg py-3 wow animated"
                      >Get In Contact</a
                    >
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                    <p class="my-4 pe-xl-5">
                      Memphis clinched a spot in the play-in tournament with the
                      victory, but the fight for seeding continues. The race for
                      the No. 8 spot in the West -- and the safety net of having
                      to win just one of two games to make the playoffs -- could
                      come down to the regular seasons final day, when Memphis
                      and Golden State meet. The good thing for the Grizzlies is
                      they dont have to leave home until that matchup as they
                      have games against Dallas and two against Sacramento
                      before the finale.
                    </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                    <p class="my-4 pe-xl-5">
                      Memphis clinched a spot in the play-in tournament with the
                      victory, but the fight for seeding continues. The race for
                      the No. 8 spot in the West -- and the safety net of having
                      to win just one of two games to make the playoffs -- could
                      come down to the regular seasons final day, when Memphis
                      and Golden State meet. The good thing for the Grizzlies is
                      they dont have to leave home until that matchup as they
                      have games against Dallas and two against Sacramento
                      before the finale.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-video">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="pl-lg-5 pt-lg-6 pt-sm-3">We know what you are looking for</h5>
        <ul class="">
          <li>Serene NeighborHood</li>
          <li>World Class Structure</li>
          <li>Top Notch Infrastructure</li>
          <li>Top Notch Infrastructure</li>
          <li>Top Notch Infrastructure</li>
        </ul>
      </div>
      <div class="col-lg-6 ">
          <div class="listing_details_video wow fadeInDown animated p-5"  data-wow-offset="2">
              <div class="listing_details_video_img">
                  <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="image">
                  <div class="listing_details_video_btn_box">
                      <a href="https://www.youtube.com/watch?v=i9E_Blai8vk"
                          class="listing_details_video_btn video-popup"><i
                              class="fa fa-play"></i></a>
                  </div>
              </div>
          </div>
      </div>
  
  </div>
  </section>

  <!--Providing One Start-->
  <section
    class="providing_one jarallax"
    data-jarallax
    data-speed="0.2"
    data-imgPosition="50% 0%"
    style="
      background-image: url(https://images.pexels.com/photos/415687/pexels-photo-415687.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5">
          <div class="providing_one_left">
            <div class="block-title text-left">
              <h2>
                This is <br/> What We Stand For
              </h2>
              <p class = "fs-3">We at KelKey Global Limited strongly believe that a great home is a reward for success</p>
                          </div>
            <div class="providing_one_btn">
              <a href="/listing" class="thm-btn">Search Property</a>
            </div>
            <div class="providing_one_shaape_one">
              <img
                src="assets/images/shapes/providing_one_shape_1.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div class="providing_one_four_boxes clearfix">
            <ul class="list-unstyled">
              <li>
                <div class="providing_one_four_boxes_iocn">
                  <span class="icon-home"></span>
                </div>
                <div class="providing_one_four_boxes_text">
                  <p>Affordable<br />Housing</p>
                </div>
              </li>
              <li>
                <div class="providing_one_four_boxes_iocn">
                  <span class="icon-house"></span>
                </div>
                <div class="providing_one_four_boxes_text">
                  <p>Furnished<br />Homes</p>
                </div>
              </li>
              <li>
                <div class="providing_one_four_boxes_iocn">
                  <span class="icon-condominium"></span>
                </div>
                <div class="providing_one_four_boxes_text">
                  <p>Luxurious<br />Living</p>
                </div>
              </li>
              <li>
                <div class="providing_one_four_boxes_iocn">
                  <span class="icon-buildings"></span>
                </div>
                <div class="providing_one_four_boxes_text">
                  <p>Customer<br />Service</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Providing One End-->

  <!--Testimonials One Start-->
  <section class="testimonials_one">
    <div class="container">
      <div class="swiper-container" id="testimonials-one__thumb">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://www.vhv.rs/dpng/d/276-2761771_transparent-avatar-png-vector-avatar-icon-png-png.png"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.vhv.rs/dpng/d/276-2761771_transparent-avatar-png-vector-avatar-icon-png-png.png"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.vhv.rs/dpng/d/276-2761771_transparent-avatar-png-vector-avatar-icon-png-png.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="swiper-container" id="testimonials-one__carousel">
        <div
          class="testimonials_one_carousel_bg"
          style="
            background-image: url(https://images.pexels.com/photos/313691/pexels-photo-313691.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
          "
        ></div>
        <div class="testimonials_one_quote">
          <i class="fas fa-quote-left"></i>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p>
              The team at K.Global has been very responsive to my needs.
              <br />
              Their expertise simply inspires confidence in making the right
              <br />
              investment choices in real estate!
            </p>
            <div class="testimonials-one__meta">
              <h3>James Atah / <span>Customer</span></h3>
            </div>
          </div>
          <div class="swiper-slide">
            <p>
              This is due to their excellent service, competitive<br />
              pricing and customer support. It’s throughly <br />
              refresing to get such a personal touch.
            </p>
            <div class="testimonials-one__meta">
              <h3>Emmanuel Umeh / <span>Customer</span></h3>
            </div>
          </div>
          <div class="swiper-slide">
            <p>
              This is due to their excellent service, competitive<br />
              pricing and customer support. It’s throughly <br />
              refresing to get such a personal touch.
            </p>
            <div class="testimonials-one__meta">
              <h3>Blueportals NG / <span>Customer</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonials One End-->

  <!--How It Works Start-->
  <section class="how_it_works">
    <div class="how_it_works_shape_1">
      <img src="assets/images/shapes/how_it_works_shape_1.png" alt="" />
    </div>
    <div class="container">
      <div class="block-title text-center">
        <h4>How It Works</h4>
        <h2>Follow Easy Steps</h2>
      </div>
      <div class="row">
        <div class="col-xl-12" >
          <ul class="how_it_works_single list-unstyled" style="margin: 0 auto;justify-content: center;padding-left: 50px;">
            <li style="padding-top: 30px;margin-right: 60px;margin-bottom: 30px;">
              <div class="how_it_works_img">
                <img
                  style="height: 162px; width: 162px"
                  src="assets/images/properties/howitworks1.jpg"
                  alt=""
                />
                <div class="how_it_works_circle">
                  <p>01</p>
                </div>
              </div>
              <div class="how_it_works_content">
                <h3>Choose A Property</h3>
                <p>Select the property which appeals to you.</p>
              </div>
            </li>
            <li class="item-2"style="padding-top: 30px;margin-right: 60px;margin-bottom: 30px;">
              <div class="how_it_works_img">
                <img src="assets/images/properties/howitworks2.jpg" alt="" />
                <div class="how_it_works_circle">
                  <p>02</p>
                </div>
              </div>
              <div class="how_it_works_content">
                <h3>Complete Payment</h3>
                <p>Pay the fee for the property.</p>
              </div>
            </li>
            <li style="padding-top: 30px;margin-right: 60px;margin-bottom: 30px;">
              <div class="how_it_works_img">
                <img src="assets/images/properties/howitworks3.jpg" alt="" />
                <div class="how_it_works_circle">
                  <p>03</p>
                </div>
              </div>
              <div class="how_it_works_content">
                <h3>Take Your Keys</h3>
                <p>Get the documents and keys to your newly owned property.</p>
              </div>
            </li>
            <li class="item-4" style="padding-top: 30px;margin-right: 60px;margin-bottom: 30px;">
              <div class="how_it_works_img">
                <img src="assets/images/properties/howitworks4.jpg" alt="" />
                <div class="how_it_works_circle">
                  <p>04</p>
                </div>
              </div>
              <div class="how_it_works_content">
                <h3>Live Happily</h3>
                <p>Enjoy your property.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--How It Works End-->
    <!--Latest Properties Start-->
    <section class="latest_properties">
      <div class="container">
        <div class="block-title text-center">
          <h4>Browse Featured Projects</h4>
          <h2>Our Projects</h2>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div
              class="thm-swiper__slider swiper-container thm-swiper__slider-pause-hover"
              data-swiper-options='{"spaceBetween": 100, "slidesPerView": 4, "autoplay": { "delay": 5000 }, "pagination": {
                                    "el": "#latest_properties_pagination",
                                    "type": "bullets",
                                    "clickable": true
                                },
                                "navigation": {
                                    "nextEl": ".latest_properties_next",
                                    "prevEl": ".latest_properties_prev",
                                    "clickable": true
                                },
                                "breakpoints": {
                                    "0": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "425": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "575": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "767": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 2
                                    },
                                    "991": {
                                        "spaceBetween": 20,
                                        "slidesPerView": 2
                                    },
                                    "1289": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 3
                                    },
                                    "1440": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 3
                                    }
                                }}'
            >
              <div class="swiper-wrapper">
                <% properties && properties.map((property, key) => {%>
                <div class="swiper-slide">
                  <div class="latest_properties_single">
                    <div
                      class="latest_properties_img_carousel owl-theme owl-carousel"
                    >
                      <div class="latest_properties_img">
                        <img src="<%= property.image_one %>" alt="" />
                        <div class="latest_properties_icon">
                          <i class="fa fa-heart"></i>
                        </div>
                        <div class="featured_and_sale_btn">
                          <a href="#" class="featured_btn">Featured</a>
                          <a href="#" class="sale_btn">For Sale</a>
                        </div>
                      </div>
                      <div class="latest_properties_img">
                        <img src="<%= property.image_two %>" alt="" />
                        <div class="latest_properties_icon">
                          <i class="fa fa-heart"></i>
                        </div>
                        <div class="featured_and_sale_btn">
                          <a href="#" class="featured_btn">Featured</a>
                          <a href="#" class="sale_btn">For Sale</a>
                        </div>
                      </div>
                      <div class="latest_properties_img">
                        <img src="<%= property.image_three %>" alt="" />
                        <div class="latest_properties_icon">
                          <i class="fa fa-heart"></i>
                        </div>
                        <div class="featured_and_sale_btn">
                          <a href="#" class="featured_btn">Featured</a>
                          <a href="#" class="sale_btn">For Sale</a>
                        </div>
                      </div>
                    </div>
                    <div class="latest_properties_content">
                      <div class="latest_properties_top_content">
                        <h4>
                          <a href="/listing/<%= property.slug %>"
                            ><%= property.title %></a
                          >
                        </h4>
                        <p><%= property.location %></p>
                        <h3>₦ <%= property.price %> <span>only</span></h3>
                      </div>
                      <div class="latest_properties_bottom_content">
                        <ul class="list-unstyled">
                          <li><span class="icon-bed"></span>4</li>
                          <li><span class="icon-shower"></span>2</li>
                          <li>
                            <span class="icon-square-measument"></span><%=
                            property.details.sqft_size %> sqft
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <% })%>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination" id="latest_properties_pagination"></div>
      </div>
    </section>
    <!--Latest Properties End-->

  <%- include('./partials/Footer.ejs'); %>
 